@import "tailwindcss";

@layer utilities {
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }
    .animate-blink {
        animation: blink 1s infinite;
    }
}

body {
    margin: 0;
    @apply bg-slate-900 text-white min-h-screen;
}